<div class="row">
  <div class="col-12">
    <div class="header-bar-custom">
      <div class="header-left">
        <p-button
          icon="pi pi-arrow-right"
          (click)="openDrawer()"
          [rounded]="true"
        ></p-button>
      </div>
      <div class="header-center">
        <img
          src="../../../assets/Images/fitgym_header.png"
          class="header-logo"
          height="50px"
          (click)="redirectHomePage()"
        />
      </div>
      <div class="header-right">
        <p-avatar
          [label]="currentUserName().split(' ')[0].charAt(0)"
          shape="circle"
          styleClass="avatar-violet"
          pTooltip="{{ currentUserName() }}"
        />
      </div>
    </div>
  </div>
</div>
<div class="row message-row">
  <div class="col-12">
    <p-message severity="info" closable
      ><i class="pi pi-microchip-ai"></i> &nbsp;AI Features will be out soon!
    </p-message>
  </div>
</div>
