.card {
  border: none !important;
  width: 100vw;
  margin: 0px !important;
  padding: 0px !important;
}

.header-menubar {
  height: 55px;
  align-items: center;
  display: flex;
  width: 100vw !important;
}

.avatar-violet {
  background-color: #c084fc !important;
  color: white !important;
}
