<div class="container-fluid">
  <div class="mt-2">
    <p-drawer #drawerRef [(visible)]="isVisible" [dismissible]="false">
      <ng-template #headless>
        <div class="drawer-header-row mt-4 p-2 drawer-close-btn">
          <p-button
            type="button"
            (click)="closeCallback($event)"
            icon="pi pi-times"
            rounded="true"
            outlined="true"
          ></p-button>
        </div>
        <div class="drawer-menu-flex mt-2">
          <div>
            <ng-container *ngFor="let item of menuItems">
              <ng-container *ngIf="item.name !== 'Logout'">
                <div class="mt-2">
                  <p-button
                    [label]="item.name"
                    [icon]="item.icon"
                    (onClick)="item.onClick()"
                    [style]="{width: '100%'}"
                    variant="outlined"
                  ></p-button>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <div class="logout-btn-bottom mb-2">
            <ng-container *ngFor="let item of menuItems">
              <ng-container *ngIf="item.name === 'Logout'">
                <p-button
                  [label]="item.name"
                  [icon]="item.icon"
                  (onClick)="item.onClick()"
                  [style]="{width: '100%'}"
                  variant="outlined"
                  severity="danger"
                ></p-button>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </p-drawer>
  </div>
</div>
