<div class="container left-nav-container">
  <div class="mt-2">
    <p-drawer #drawerRef [(visible)]="isVisible" [dismissible]="false">
      <ng-template #headless>
        <p-button
          class="drawer-close-floating-btn drawer-close-floating-btn-outside"
          rounded="true"
          (click)="closeCallback($event)"
        >
          <i class="pi pi-arrow-left"></i>
        </p-button>
        <p-button
          ngClass="drawer-header-image-wrapper"
          variant="text"
          (click)="homePageRedirect()"
        >
          <img
            src="assets/Images/fitgym_header.png"
            alt="FitGym Header"
            class="drawer-header-image"
          />
        </p-button>
        <div class="drawer-menu-flex mt-2">
          <div>
            <ng-container *ngFor="let item of menuItems">
              <ng-container *ngIf="item.name !== 'Logout'">
                <div class="mt-2">
                  <p-button
                    [label]="item.name"
                    [icon]="item.icon"
                    (onClick)="item.onClick()"
                    [style]="{ width: '100%' }"
                    [variant]="'outlined'"
                    [severity]="
                      item.name === 'Report a bug' ? 'warn' : undefined
                    "
                    [ngClass]="
                      item.name === 'Report a bug' ? 'bug-report-btn' : ''
                    "
                  >
                    <ng-container *ngIf="item.name === 'Report a bug'">
                      <ng-template pTemplate="icon">
                        <i
                          class="pi pi-exclamation-triangle bug-report-icon"
                        ></i>
                      </ng-template>
                    </ng-container>
                  </p-button>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <div class="logout-btn-bottom mb-2">
            <ng-container *ngFor="let item of menuItems">
              <ng-container *ngIf="item.name === 'Logout'">
                <p-button
                  [label]="item.name"
                  [icon]="item.icon"
                  (onClick)="item.onClick()"
                  [style]="{ width: '100%' }"
                  variant="outlined"
                  severity="danger"
                ></p-button>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </p-drawer>
  </div>
</div>
