# Visual Studio and Visual Studio Code
**.vscode/
**.vs/

# Debug and Bin Files
**obj/
**bin/

# Node Modules and npm
**node_modules/

# Local Development Files
appsettings.Development.json
/FitGymTool.Database/FitGymTool.Database.dbmdl
/FitGymTool.Database/FitGymTool.Database.jfm
**.kiro

# NODE
**.angular/
**dist/
**/src/env/environment.development.ts
