<div *ngIf="isLoading()">
  <p-skeleton height="34.0625rem" width="100%" ngClass="revenue-skeleton" />
</div>
<div *ngIf="!isLoading()">
  <div class="current-revenue-card card shadow-m border-0 bg-dark text-light">
    <div class="card-body">
      <h1 class="card-title">{{ chartConstants.Header }}</h1>
      <h6 class="card-subtitle mb-4">{{ chartConstants.SubHeader }}</h6>
      <div
        class="chart-container d-flex justify-content-center align-items-center"
      >
        <canvas #revenueChartCanvas></canvas>
      </div>
      <div class="mt-4">
        <ng-container *ngFor="let label of chartLabels; let i = index">
          <span class="me-3">
            <span
              [ngStyle]="{
                display: 'inline-block',
                width: '1rem',
                height: '1rem',
                background: getLegendColor(i),
                'border-radius': '0.1875rem',
                'margin-right': '0.375rem'
              }"
            ></span>
            {{ label }}
          </span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
