<div class="current-revenue-card card shadow-m border-0 bg-dark text-light">
  <div class="card-body">
    <h1 class="card-title">{{ chartConstants.Header }}</h1>
    <h6 class="card-subtitle mb-4">{{ chartConstants.SubHeader }}</h6>
    <div
      class="chart-container d-flex justify-content-center align-items-center"
    >
      <canvas #revenueChartCanvas></canvas>
    </div>
    <div class="mt-4">
      <span class="me-3">
        <span
          style="
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background: #7cfc98;
            border-radius: 0.1875rem;
            margin-right: 0.375rem;
          "
        ></span
        >{{ chartConstants.Labels.Paid.yAxis }}</span
      >
      <span class="me-3">
        <span
          style="
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background: #ff7c7c;
            border-radius: 0.1875rem;
            margin-right: 0.375rem;
          "
        ></span
        >{{ chartConstants.Labels.NotPaid.yAxis }}</span
      >
      <span>
        <span
          style="
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background: #d3d3d3;
            border-radius: 0.1875rem;
            margin-right: 0.375rem;
          "
        ></span
        >{{ chartConstants.Labels.SubCancelled.xAxis }}</span
      >
    </div>
  </div>
</div>
