<p-dialog
  [header]="memberDetailsUpdateConstants.Header"
  [modal]="true"
  [visible]="visible()"
  [style]="{ width: '90rem' }"
  [blockScroll]="true"
  [closable]="false"
>
  <div class="edit-members-table" #tableContainer>
    <!-- Scroll indicator arrow -->
    <div class="scroll-indicator" [class.show]="true">
      <p-button
        icon="pi pi-arrow-right"
        [rounded]="true"
        variant="outlined"
        severity="info"
        size="large"
      ></p-button>
    </div>
    <p-table
      #memberDetailsUpdateTable
      [value]="sortedMembersData"
      [rows]="10"
      [paginator]="true"
      [columns]="columnHeaders"
      [customSort]="false"
      ngClass="edit-members-table"
      showGridLines
      stripedRows
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <ng-container *ngIf="col.field === 'memberName'; else checkEmail">
              <div class="field-container">
                <input
                  pInputText
                  [(ngModel)]="rowData.memberName"
                  placeholder="Enter member name"
                  class="form-input"
                  [class.p-invalid]="hasFieldError(rowData, 'memberName')"
                />
                <small
                  class="p-error"
                  *ngIf="hasFieldError(rowData, 'memberName')"
                >
                  {{ getFieldError(rowData, "memberName") }}
                </small>
              </div>
            </ng-container>
            <ng-template #checkEmail>
              <ng-container
                *ngIf="col.field === 'memberEmail'; else checkPhone"
              >
                <div class="field-container">
                  <input
                    pInputText
                    [(ngModel)]="rowData.memberEmail"
                    placeholder="Enter email address"
                    class="form-input"
                    [class.p-invalid]="hasFieldError(rowData, 'memberEmail')"
                  />
                  <small
                    class="p-error"
                    *ngIf="hasFieldError(rowData, 'memberEmail')"
                  >
                    {{ getFieldError(rowData, "memberEmail") }}
                  </small>
                </div>
              </ng-container>
              <ng-template #checkPhone>
                <ng-container
                  *ngIf="col.field === 'memberPhoneNumber'; else checkAddress"
                >
                  <div class="field-container">
                    <input
                      pInputText
                      [(ngModel)]="rowData.memberPhoneNumber"
                      placeholder="Enter phone number"
                      class="form-input"
                      [class.p-invalid]="
                        hasFieldError(rowData, 'memberPhoneNumber')
                      "
                    />
                    <small
                      class="p-error"
                      *ngIf="hasFieldError(rowData, 'memberPhoneNumber')"
                    >
                      {{ getFieldError(rowData, "memberPhoneNumber") }}
                    </small>
                  </div>
                </ng-container>
                <ng-template #checkAddress>
                  <ng-container
                    *ngIf="col.field === 'memberAddress'; else checkDateOfBirth"
                  >
                    <div class="field-container">
                      <textarea
                        pInputTextarea
                        [(ngModel)]="rowData.memberAddress"
                        placeholder="Enter address"
                        class="form-input"
                        rows="2"
                        [class.p-invalid]="
                          hasFieldError(rowData, 'memberAddress')
                        "
                      ></textarea>
                      <small
                        class="p-error"
                        *ngIf="hasFieldError(rowData, 'memberAddress')"
                      >
                        {{ getFieldError(rowData, "memberAddress") }}
                      </small>
                    </div>
                  </ng-container>
                  <ng-template #checkDateOfBirth>
                    <ng-container
                      *ngIf="
                        col.field === 'memberDateOfBirth';
                        else checkGender
                      "
                    >
                      <div class="field-container">
                        <p-datepicker
                          [(ngModel)]="rowData.memberDateOfBirth"
                          [showIcon]="true"
                          iconDisplay="input"
                          dateFormat="dd/mm/yy"
                          placeholder="Select date of birth"
                          class="form-input"
                          [class.p-invalid]="
                            hasFieldError(rowData, 'memberDateOfBirth')
                          "
                          [inline]="false"
                          [showOnFocus]="false"
                          [style]="{ width: '100%' }"
                          appendTo="body"
                        ></p-datepicker>
                        <small
                          class="p-error"
                          *ngIf="hasFieldError(rowData, 'memberDateOfBirth')"
                        >
                          {{ getFieldError(rowData, "memberDateOfBirth") }}
                        </small>
                      </div>
                    </ng-container>
                    <ng-template #checkGender>
                      <ng-container
                        *ngIf="col.field === 'memberGender'; else checkJoinDate"
                      >
                        <div class="field-container">
                          <p-select
                            [(ngModel)]="rowData.memberGender"
                            [options]="genderOptions"
                            optionLabel="label"
                            optionValue="value"
                            placeholder="Select gender"
                            class="form-input"
                            [class.p-invalid]="
                              hasFieldError(rowData, 'memberGender')
                            "
                          ></p-select>
                          <small
                            class="p-error"
                            *ngIf="hasFieldError(rowData, 'memberGender')"
                          >
                            {{ getFieldError(rowData, "memberGender") }}
                          </small>
                        </div>
                      </ng-container>
                      <ng-template #checkJoinDate>
                        <ng-container
                          *ngIf="
                            col.field === 'memberJoinDate';
                            else checkActions
                          "
                        >
                          <div class="field-container">
                            <p-datepicker
                              [(ngModel)]="rowData.memberJoinDate"
                              [showIcon]="true"
                              iconDisplay="input"
                              dateFormat="dd/mm/yy"
                              placeholder="Select join date"
                              class="form-input"
                              [class.p-invalid]="
                                hasFieldError(rowData, 'memberJoinDate')
                              "
                              [inline]="false"
                              [showOnFocus]="false"
                              appendTo="body"
                            ></p-datepicker>
                            <small
                              class="p-error"
                              *ngIf="hasFieldError(rowData, 'memberJoinDate')"
                            >
                              {{ getFieldError(rowData, "memberJoinDate") }}
                            </small>
                          </div>
                        </ng-container>
                        <ng-template #checkActions>
                          <ng-container
                            *ngIf="col.field === 'actions'; else defaultCell"
                          >
                            <p-button
                              type="button"
                              label="Update"
                              severity="success"
                              variant="outlined"
                              (click)="onMemberDetailsChangeUpdate(rowData)"
                              [disabled]="!canUpdateRow(rowData)"
                            ></p-button>
                          </ng-container>
                          <ng-template #defaultCell>
                            {{ rowData[col.field] }}
                          </ng-template>
                        </ng-template>
                      </ng-template>
                    </ng-template>
                  </ng-template>
                </ng-template>
              </ng-template>
            </ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="columnHeaders.length" class="text-center py-4">
            <div class="empty-state">
              <i
                class="pi pi-search"
                style="font-size: 2rem; color: #6c757d"
              ></i>
              <p class="mt-2 mb-0">No results found</p>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="form-actions">
    <p-button
      label="Cancel"
      severity="danger"
      type="button"
      variant="outlined"
      (onClick)="onCancel()"
    >
    </p-button>
  </div>
</p-dialog>
