<div class="card-containers">
  <div class="row">
    <div class="col-sm-3">
      <div
        ngClass="add-members-card card shadow-m border-0 bg-dark text-light"
        (click)="handleAddNewUser()"
      >
        <img
          class="card-img-top"
          src="../../../assets/Images/add-user.jpg"
          alt="Add User Image"
          height="auto"
          width="auto"
        />
        <div class="card-body">
          <h1 class="card-title">Add a new user</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="isUsersDataLoading()">
        <p-skeleton
          height="34.0625rem"
          width="100%"
          ngClass="usersdata-skeleton"
        ></p-skeleton>
      </div>
      <div *ngIf="!isUsersDataLoading()">
        <app-members-list-component
          [membersData]="allUsersData()"
        ></app-members-list-component>
      </div>
    </div>
  </div>
</div>
