<div class="card-containers">
  <div class="row">
    <div class="col-sm-4">
      <div
        ngClass="member-management-card card shadow-m border-0 bg-dark text-light"
        (click)="handleAddNewMember()"
      >
        <img
          class="card-img-top"
          [src]="MemberDashboardConstants.AddMember.ImageSrc"
          [alt]="MemberDashboardConstants.AddMember.Alt"
          height="auto"
          width="auto"
        />
        <div class="card-body">
          <h4 class="card-title">
            {{ MemberDashboardConstants.AddMember.Name }}
          </h4>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div
        ngClass="member-management-card card shadow-m border-0 bg-dark text-light"
        (click)="handleTerminateMember()"
      >
        <img
          class="card-img-top"
          [src]="MemberDashboardConstants.UpdateMembershipStatus.ImageSrc"
          [alt]="MemberDashboardConstants.UpdateMembershipStatus.Alt"
          height="auto"
          width="auto"
        />
        <div class="card-body">
          <h4 class="card-title">
            {{ MemberDashboardConstants.UpdateMembershipStatus.Name }}
          </h4>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div
        ngClass="member-management-card card shadow-m border-0 bg-dark text-light"
        (click)="handleEditMember()"
      >
        <img
          class="card-img-top"
          [src]="MemberDashboardConstants.UpdateMemberDetails.ImageSrc"
          [alt]="MemberDashboardConstants.UpdateMemberDetails.Alt"
          height="auto"
          width="auto"
        />
        <div class="card-body">
          <h4 class="card-title">
            {{ MemberDashboardConstants.UpdateMemberDetails.Name }}
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="isUsersDataLoading()">
        <p-skeleton
          height="34.0625rem"
          width="100%"
          ngClass="usersdata-skeleton"
        ></p-skeleton>
      </div>
      <div *ngIf="!isUsersDataLoading()">
        <app-members-list-component
          [membersData]="allUsersData()!"
          [membershipStatusOptions]="membershipStatusOptions"
        ></app-members-list-component>
      </div>
    </div>
  </div>

  <div class="row">
    <app-add-member-component
      (memberAdded)="onMemberUpdated()"
      [membershipStatusOptions]="membershipStatusOptions"
    ></app-add-member-component>
  </div>

  <div class="row">
    <app-update-membership-status-component
      [membersData]="allUsersData()!"
      [membershipStatusOptions]="membershipStatusOptions"
      (membershipStatusUpdate)="onMemberUpdated()"
    ></app-update-membership-status-component>
  </div>
</div>
