<div class="card-containers">
  <div class="row">
    <div class="col-sm-4">
      <div
        ngClass="member-management-card card shadow-m border-0 bg-dark text-light"
        (click)="handleAddNewUser()"
      >
        <img
          class="card-img-top"
          [src]="MemberDashboardConstants.AddMember.ImageSrc"
          [alt]="MemberDashboardConstants.AddMember.Alt"
          height="auto"
          width="auto"
          ks
        />
        <div class="card-body">
          <h4 class="card-title">
            {{ MemberDashboardConstants.AddMember.Name }}
          </h4>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div
        ngClass="member-management-card card shadow-m border-0 bg-dark text-light"
        (click)="handleTerminateUser()"
      >
        <img
          class="card-img-top"
          [src]="MemberDashboardConstants.TerminateMember.ImageSrc"
          [alt]="MemberDashboardConstants.TerminateMember.Alt"
          height="auto"
          width="auto"
        />
        <div class="card-body">
          <h4 class="card-title">
            {{ MemberDashboardConstants.TerminateMember.Name }}
          </h4>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div
        ngClass="member-management-card card shadow-m border-0 bg-dark text-light"
        (click)="handleTerminateUser()"
      >
        <img
          class="card-img-top"
          src="../../../assets/Images/terminate-user.jpg"
          alt="Add User Image"
          height="auto"
          width="auto"
        />
        <div class="card-body">
          <h4 class="card-title">Terminate an existing user</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="isUsersDataLoading()">
        <p-skeleton
          height="34.0625rem"
          width="100%"
          ngClass="usersdata-skeleton"
        ></p-skeleton>
      </div>
      <div *ngIf="!isUsersDataLoading()">
        <app-members-list-component
          [membersData]="allUsersData()!"
        ></app-members-list-component>
      </div>
    </div>
  </div>

  <div class="row">
    <app-add-user-component></app-add-user-component>
  </div>
</div>
