<div class="card-containers">
  @if (isMembersFeesDataLoading()) {
  <p-skeleton
    height="100%"
    width="100%"
    ngClass="current-member-fees-skeleton"
  ></p-skeleton>
  } @else {
  <div
    class="current-member-fees-card card shadow-m border-0 bg-dark h-100"
    pRipple
    style="--p-ripple-background: rgba(75, 175, 80, 0.3)"
  >
    <div class="card-body d-flex flex-column">
      <h1 class="card-title">{{ chartConstants.Header }}</h1>
      <h6 class="card-subtitle mb-4">{{ chartConstants.SubHeader }}</h6>
      <div
        class="chart-container d-flex justify-content-center align-items-center flex-grow-1"
      >
        <div class="chart-wrapper d-flex align-items-center">
          <canvas #feesStatusChart></canvas>
          <div class="chart-legend">
            @for (status of mappingMasterData.feesPaymentStatusMapping; track
            status.id; let i = $index) {
            <div class="legend-item">
              <span
                class="legend-color"
                [style.background-color]="colors[i]"
              ></span>
              <span class="legend-label">{{ status.statusName }}</span>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
