@import "bootstrap/dist/css/bootstrap.min.css";
@import "primeicons/primeicons.css";

@font-face {
  font-family: "Cascadia Mono";
  src: url("assets/Fonts/CascadiaMono-VariableFont_wght.ttf");
}

:root {
  --background-color: #181a20;
  --text-color: #f1f1f1;
  --primary-color: #242731;
  --secondary-color: #323544;
  --accent-color: #4f8cff;
}

html,
body {
  background: var(--background-color) !important;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "Cascadia Mono" !important;
}

