<div class="card-containers">
  <div class="row">
    <div class="col-sm-6">
      <app-current-user-component></app-current-user-component>
    </div>
    <div class="col-sm-3">
      <app-ai-status-component></app-ai-status-component>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mt-3">
      <app-active-members-component></app-active-members-component>
    </div>
    <div class="col-sm-6 mt-3">
      <app-current-revenue-component></app-current-revenue-component>
    </div>
  </div>
</div>
