.active-members-card {
  padding: 0.625rem !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(11.5px) !important;
  -webkit-backdrop-filter: blur(11.5px) !important;
  border: 1px solid rgba(255, 255, 255, 0.41) !important;
}

.chart-container {
  width: 100%;
  min-height: 23rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}

.chart-container canvas {
  width: 60% !important;
  height: 100% !important;
  max-width: 60%;
  min-width: 18.75rem;
  max-height: 21.875rem;
  display: block;
  flex-shrink: 0;
}

.chart-wrapper {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 1.875rem;
  height: 100%;
}

.counts-display {
  min-width: 9.375rem;
  max-width: 12.5rem;
  padding: 1.25rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.5rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.1);
  flex-shrink: 0;
}

.count-item {
  text-align: center;
}

.count-label {
  margin-bottom: 0.5rem;
}

.color-indicator {
  width: 1rem;
  height: 1rem;
  border-radius: 0.1875rem;
  margin-right: 0.5rem;
  display: inline-block;

  &.active {
    background: #7cfc98;
  }

  &.termination {
    background: #ff7c7c;
  }

  &.expired {
    background: #ffd27c;
  }
}

.label-text {
  font-size: 0.875rem;
  color: #f1f1f1;
  font-family: "Cascadia Mono", monospace;
}

.count-value {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  font-family: "Cascadia Mono", monospace;
}

.members-skeleton {
  border-radius: 16px !important;
  border: 1px solid rgba(255, 255, 255, 0.41) !important;
}
