<div class="card-containers">
  <div *ngIf="isFeesStructureLoading()">
    <p-skeleton
      height="100%"
      width="100%"
      ngClass="fees-structure-skeleton"
    ></p-skeleton>
  </div>
  <div *ngIf="!isFeesStructureLoading()" class="h-100">
    <div class="fees-structure-card card shadow-m border-0 bg-dark h-100">
      <div class="card-body">
        <h1 class="card-title">{{ currentFeesStructureConstants.Header }}</h1>
        <h6 class="card-subtitle">
          {{ currentFeesStructureConstants.SubHeader }}
        </h6>
      </div>
      <div class="table-container flex-grow-1">
        <p-table
          #fstable
          [value]="feesStructureData()"
          [rows]="10"
          [columns]="columnHeaders"
          ngClass="fees-structure-table"
          showGridlines
          stripedRows
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td
                [attr.colspan]="columnHeaders.length"
                class="text-center py-4"
              >
                <div class="empty-state">
                  <i
                    class="pi pi-search"
                    style="font-size: 2rem; color: #6c757d"
                  ></i>
                  <p class="mt-2 mb-0">No results found</p>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
